
/* changes box width to total width*/
* {box-sizing: border-box;

}


#paragraph {
    background-color: cyan;
}


main {
    background-image: url(/Hillman7.github.io/comm/images/temple.jpg)


}

#output {
    margin-top: 20px;
    font-size: 50px;
}

p {
    font-size: 25px;
}

button {
    font-size: 15px;
}
