#cellPhoneBorder
{

    position:absolute;
    
    top:0px;
    left:0px;
    /* color:gold; */
    background-color:gold;
    width:100%;
    /* height:500px; */

    height:100%;
}

#chatHolder
{
    position:absolute;
    right:0px;
    top:70px;

    width:60%;
    height:100%;

    background-color:grey;
}


#threads
{
    background-color:black;
    position:absolute;
    left:0px;
    top:70px;
    width:40%;
    height:100%;
}


.messageNode
{

background-color: white;
border:solid;
border-color:red;

}

#inputBar
{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:blueviolet;
    border-color:red;

}