#loginScreen
{
    background-color:black;
    height:100%;
    width:100%;
}


#user
{
position:fixed;
top:20%;
left:25%;

height:15%;
width:50%;
font-size:25;

}


#password
{
position:fixed;
top:40%;
left:25%;

height:15%;
width:50%;
font-size:25;

}

#loginButton
{
    background-color:white;

    position:fixed;
    top:60%;
    left:25%;
    font-size:50;
    
    height:15%;
    width:50%;


    text-align: center; line-height: 100px;


}

#loginButtonClicked
{
    background-color:grey;

    width:7em;
    height:2em;
    position:fixed;
    top:60%;
    left:30%;
}


#welcome
{
    top:20%;
    height:5em;
    width:100%;

    background-color:purple;

}


#welcomeWords
{
    position:relative;
    top:0.5em;
    left:1em;
    color:yellow;
    font-size:2em;
}